<footer class="site-footer" role="contentinfo">
  <a href="{{ site.baseurl }}" class="brand">The Welsh Who Built Chicago</a>
  <ul class="nav">
    <li><a href="{{ site.baseurl }}/find/">Find</a></li>
    <li><a href="{{ site.baseurl }}/contribute/">Contribute</a></li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
  </ul>
  <div class="cambrian">
    <p>Learn more about Welsh life in Chicago at the Cambrian Society.</p>
    <img src="{{ site.baseurl }}/assets/img/cbs-banner.jpg">
  </div>
</footer>
