.find{

  h2{
    border-bottom: 1px solid $dark-grey;
    text-transform: uppercase;
    letter-spacing: .125rem;
    color: $dark-grey;
  }

  ul{
    @extend .unstyled-list;
    margin-top: 1rem;
    columns: 3 150px;

    li{
      margin-bottom: .5rem;
    }

    a{
      color: $font-color;
      border-color: $font-color;
    }
  }
}
