.site-header{
  padding: 2rem;
  background: $primary-color url('/assets/img/dragon-no-flag.png') no-repeat left center;
  overflow: hidden;
}

.brand{
  display: block;
  float: left;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .1875rem;
  font-size: 1.25rem;
  line-height: 3rem;
}
