.site-header{
  padding: 2rem 1rem;
  background: $primary-color url('/assets/img/dragon-no-flag.png') no-repeat;
  background-position: right top;
  overflow: hidden;

  @media (#{$bp-larger-than-tablet}){
    padding: 2rem;
  }

  @media (#{$bp-larger-than-desktop}){
    background-position: left center;
  }
}

.brand{
  display: block;
  padding-top: .25rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .1875rem;
  font-size: 1.25rem;

  @media (#{$bp-larger-than-desktop}){
    float: left;
  }
}
