.hero{
  @extend .container;
  height: 300px;
  background: url('/assets/img/nypl-chicago-map.jpg') no-repeat center center;
  text-align: center;

  p{
    max-width: 70%;
    margin: 4rem auto 2rem;
    font-size: 2.25rem;
    color: $white;
  }
}
