.site-nav{
  margin-top: 1rem;

  @media screen and (#{$bp-larger-than-desktop}){
    float: left;
    margin-top: 0;
    margin-left: 2rem;
    padding-top: .55rem;
  }
}

.nav{
  @extend .unstyled-list;

  li{
    display: inline-block;
  }

  a{
    display: block;
    margin-right: 2rem;
    color: $font-color;
    text-transform: uppercase;
    letter-spacing: .125rem;
  }
}
