.site-search{
  float: right;
  background: lighten($primary-color, 10%);

  input[type=text]{
    padding: .75rem;
    background: transparent;
    border: 0;
    font-style: italic;
    color: $font-color;

    &::placeholder{
      color: lighten($font-color, 10%);
    }
  }

  button{
    padding: .5rem 1rem;
    background: transparent;
    border: 0;
    vertical-align: middle;

    svg{
      width: 1rem;
      fill: darken($dark-grey, 20%);
    }
  }

}
