.site-search{
  clear: both;
  margin-top: 2rem;

  @media screen and (#{$bp-larger-than-desktop}){
    clear: none;
    margin-top: 0;
    float: right;
    width: 18rem;
  }

  form{
    position: relative;
    background: lighten($primary-color, 10%);
  }

  input[type=text]{
    max-width: 93%;
    padding: .75rem;
    background: transparent;
    border: 0;
    font-style: italic;
    color: $font-color;

    &::placeholder{
      color: lighten($font-color, 10%);
    }
  }

  button{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    background: transparent;
    border: 0;
    vertical-align: middle;

    svg{
      width: 1rem;
      fill: darken($dark-grey, 20%);
    }
  }

}
